
<div style="margin-left: 5px;">
	Handly Links:<br />

	<a href="{{ 'http://minecraft.curseforge.com/mc-mods/' ~ details['curseforge'] }}" target="_blank">
		<img src="{{ paths.theme ~ 'assets/curseforge.png' }}" alt="" style="width:32px;height:32px;" />
		Curseforge
	</a>
	<br />
	<a href="{{ details['latest'] }}" target="_blank">
		<img src="{{ paths.theme ~ 'assets/download.png' }}" alt="" style="width:32px;height:32px;" />
		Latest Download
	</a>
	<br />
	<br />
	Developer's Center:
	<br />
	{% if details['buildLink'] is defined and details['buildHost'] is defined %}
		<a style="padding-left: 20px;" href="{{ details['buildLink'] }}" target="_blank">
			<img src="{{ paths.theme ~ 'assets/' ~ details['buildHost'] ~ '.png' }}" alt="" style="width:32px;height:32px;" />
			Builds
		</a>
		<br />
	{% endif %}
	{% if 'javadoc' in details %}
		<a style="padding-left: 20px;" href="{{ details['javadoc'] }}" target="_blank">
			<img src="{{ paths.theme ~ 'assets/document.png' }}" alt="" style="width:32px;height:32px;" />
			JavaDocs
		</a>
		<br />
	{% endif %}
	{% if 'maven' in details %}
		{% set mavenAr = details['maven']|split('|') %}
		{% set mavenGroup = mavenAr[1]|split(':')[0] %}
		{% set mavenURL = mavenAr[0] ~ mavenGroup|split('.')|join('/') %}
		<a style="padding-left: 20px;" href="{{ mavenURL }}" target="_blank">Maven</a>
		<br />
	{% endif %}
	{% if 'sourceLink' in details and 'sourceHost' in details %}
		<a style="padding-left: 20px;" href="{{ details['sourceLink'] }}" target="_blank">
			<img src="{{ paths.theme ~ 'assets/' ~ details['sourceHost'] ~ '.png' }}" alt="" style="width:32px;height:32px;" />
			Source Code
		</a>
		<br />
	{% endif %}


</div>
