{% macro display_list_item(item, loop) %}
	{# Get the current MCV #}
	{% set mcv = app.request.get('mcv') %}
	{% if mcv == "" %}
		{% set mcv = config.get('general/minecraft')[0] %}
	{% endif %}
	
	{# The Title of the project #}
	<td class="left" style="width: 70%;">
		<h3 style="text-align: left;" class="border">{{item.label}}</h3>
		{% setcontent modPage = item.path %}
		{{modPage.teaser}}
	</td>
	{#
	<h3>{{item.label}}</h3>
	{% setcontent modPage = item.path %}
	<p style="padding-left: 30px;">{{modPage.teaser}}</p>
	#}
	{# Forge link #}
	{#}
	<td class="center">
		{% if item.forge is defined %}
			{# Parse the forge dowload link 
			{% set forgelink = 'http://files.minecraftforge.net/maven/net/minecraftforge/forge/' ~ mcv ~ '-' ~ item.forge ~ '/forge-' ~ mcv ~ '-' ~ item.forge ~ '-installer.jar' %}
			{# Create the link 
			<a href="{{ forgelink }}" target="_blank">{{item.forge}}</a>
		{% endif %}
	</td>
	#}
	{# Curseforge quick download #}
	<td class="center" style="width: 30%;">
		{% if item.curseforge is defined %}
			{# parse the curseforge name for links #}
			{% set cfname = item.curseforge|split('-') %}
			{# parse and create the link with an image inside #}
			<a href="http://thetemportalist.dries007.net/mod-helper/{{ mcv }}/{{ cfname[1] }}/latest" target="_blank">
				<div class="center" style="width: 35%; height: 100%;">
					<img src="{{ paths.theme ~ 'assets/download.png' }}" alt="" style="width:64px;height:64px;" />
				</div>
			</a>
		{% endif %}
	</td>
{% endmacro %}

{% from _self import display_list_item %}
{% for item in menu %}
    {% if item.label is defined %}
    	{# Link the entire block #}
		<a href="{{ item.link }}" class="project">
			<table class="project full border"><tr style="height: 40px;">
				{{ display_list_item(item, loop) }}
			</tr></table>
		</a>
		<br />
    {% endif %}
{% endfor %}
