{% include '_header_info.twig' %}

	{% if record is defined %}
		{% set home = record %}
		{% set slug = app.request.pathInfo|split('/')[2] %}
		{% set details = {} %}
		{% for mod in config.get('menu/mc-mods') %}
			{% if mod['label'] == home.title %}
				{% set details = mod %}
			{% endif %}
		{% endfor %}
		{% set details = details|merge({'mcv': config.get('general/minecraft')[0]}) %}
		{% set details = details|merge({'cfname': details['curseforge']|split('-')[1]}) %}
		{% set details = details|merge({'latest': "http://thetemportalist.dries007.net/curseforge/" ~ details['cfname'] ~ "/" ~ details['mcv'] ~ "/latest"}) %}

		<table style="width:100%;">
			<tr>
				<td style="border-left-style: solid; border-right-style: solid; border-width: 2px; border-color: white;" valign="top">
					{% include '_aside_mod.twig' %}
				</td>
				<td style="width: 75%;">
					<div style="padding-left: 5px;">
						{% if home.title is defined and home.title is not empty %}
							<h1 style="color:white;text-align:center;"><u>{{ home.title }}</u></h1>
						{% endif %}

						{% if home.teaser is defined and home.teaser is not empty %}
							<h3 style="color:white;text-align:center;">{{ home.teaser }}</h3>
						{% endif %}
					</div>
				</td>
			</tr>
		</table>

		{% set file = paths.files ~ 'modhtml/' ~ home.slug ~ '.html' %}
		{#{% include file %}#}
		{{ dump(paths) }}
		{{ dump(file) }}
		{% include file %}

		{% if False and home.body is defined and home.body is not empty %}
			{{ home.body }}
		{% endif %}

	{% endif %}

{% include '_footer_info.twig' %}
