{% macro display_menu_item(item, loop) %}
	<tr>
		<td class="center">{{item.label}}</td>
		<td class="center">{% if item.latestMC is defined %}{{item.latestMC}}{% endif %}</td>
		<td class="center">{% if item.forge is defined %}{{item.forge}}{% endif %}</td>
		<td class="center">{% if item.curseforge is defined %}{{item.curseforge}}{% endif %}</td>
		<td class="center">{% if item.mavenHost is defined %}{{item.mavenHost}}{% endif %}</td>
		<td class="center">{% if item.maven is defined %}{{item.maven}}{% endif %}</td>
		<td class="center">{% if item.source is defined %}{{item.source}}{% endif %}</td>
	</tr>
{% endmacro %}

{% from _self import display_menu_item %}

{% for item in menu %}
    {% if item.label is defined %}
        {{ display_menu_item(item, loop) }}
    {% endif %}
{% endfor %}
