{% macro display_menu_item(item, loop) %}
	{% set mcv = app.request.get('mcv') %}
	{% if mcv == "" %}
		{% set mcv = config.get('general/minecraft')[0] %}
	{% endif %}
	<a href="{{ item.link }}"><div class="project" style="width: 100%; height: 60px; background-color: red;">
		<span style="margin-left: 20%; height: 100%;">{{item.label}}</span>
	</div></a>
	<br />
	{#}
	<tr>
		<td class="center">
			<a href="{{ item.label|lower }}">{{item.label}}</a>
		</td>
		<td class="center">{% if item.forge is defined %}
			{% set forgelink = 'http://files.minecraftforge.net/maven/net/minecraftforge/forge/' ~ mcv ~ '-' ~ item.forge ~ '/forge-' ~ mcv ~ '-' ~ item.forge ~ '-installer.jar' %}
			<a href="{{ forgelink }}" target="_blank">{{item.forge}}</a>
		{% endif %}</td>
		<td class="center">{% if item.curseforge is defined %}
			{% set cfname = item.curseforge|split('-') %}
			<a href="http://thetemportalist.dries007.net/mod-helper/{{ mcv }}/{{ cfname[1] }}/latest" target="_blank">
				<img src="{{ paths.theme ~ 'assets/download.png' }}" alt="" style="width:32px;height:32px;" />
			</a>
		{% endif %}</td>
	</tr>
	#}
{% endmacro %}

{% from _self import display_menu_item %}

{% for item in menu %}
    {% if item.label is defined %}
        {{ display_menu_item(item, loop) }}
    {% endif %}
{% endfor %}
