{% macro display_menu_item(item, loop) %}
	<tr>
		<td class="center">{{item.label}}</td>
		<td class="center">{% if item.latestMC is defined %}{{item.latestMC}}{% endif %}</td>
		<td class="center">{% if item.forge is defined %}
			{# http://files.minecraftforge.net/maven/net/minecraftforge/forge/1.7.10-10.13.2.1286/forge-1.7.10-10.13.2.1286-installer.jar #}
			{% set forgelink = 'http://files.minecraftforge.net/maven/net/minecraftforge/forge/' ~ item.latestMC ~ '-' ~ item.forge ~ '/forge-' ~ item.latestMC ~ '-' ~ item.forge ~ '-installer.jar' %}
			<a href="{{ forgelink }}">{{item.forge}}</a>
		{% endif %}</td>
		<td class="center">{% if item.curseforge is defined %}{{item.curseforge}}{% endif %}</td>
		<td class="center">{% if item.mavenHost is defined %}{{item.mavenHost}}{% endif %}</td>
		<td class="center">{% if item.maven is defined %}{{item.maven}}{% endif %}</td>
		<td class="center">{% if item.source is defined %}
			<a href="{{item.source}}" target="_blank">
				<img src="{{ paths.theme ~ 'assets/github.png' }}" alt="" style="width:32px;height:32px;" />
			</a>
		{% endif %}</td>
	</tr>
{% endmacro %}

{% from _self import display_menu_item %}

{% for item in menu %}
    {% if item.label is defined %}
        {{ display_menu_item(item, loop) }}
    {% endif %}
{% endfor %}
