{% macro display_menu_item(item, loop) %}
	{% set mcv = app.request.get('mcv') %}
	<tr>
		<td class="center">
			<div>
				<img src="{{ paths.theme ~ 'assets/button.png' }}" alt="" style="width:64px;height:32px;" />
				<span style="position:absolute;">{{item.label}}</span>
			</div>
		</td>
		<td class="center">{% if item.forge is defined %}
			{# http://files.minecraftforge.net/maven/net/minecraftforge/forge/1.7.10-10.13.2.1286/forge-1.7.10-10.13.2.1286-installer.jar #}
			{% set forgelink = 'http://files.minecraftforge.net/maven/net/minecraftforge/forge/' ~ item.latestMC ~ '-' ~ item.forge ~ '/forge-' ~ item.latestMC ~ '-' ~ item.forge ~ '-installer.jar' %}
			<a href="{{ forgelink }}" target="_blank">{{item.forge}}</a>
		{% endif %}</td>
		<td class="center">{% if item.curseforge is defined %}
			{% set cfname = item.curseforge|split('-') %}
			<a href="http://thetemportalist.dries007.net/mod-helper/{{ mcv }}/{{ cfname[1] }}/latest" target="_blank">
				<img src="{{ paths.theme ~ 'assets/download.png' }}" alt="" style="width:32px;height:32px;" />
			</a>
		{% endif %}</td>
	</tr>
{% endmacro %}

{% from _self import display_menu_item %}

{% for item in menu %}
    {% if item.label is defined %}
        {{ display_menu_item(item, loop) }}
    {% endif %}
{% endfor %}
